# Spark outputs
*.crc
_SUCCESS

# Generated data layers
data/bronze/*
data/silver/*
data/gold/*
data/marts/*
data/dashboard_exports/*

# Keep directory structure
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/marts/.gitkeep
!data/dashboard_exports/.gitkeep

# Python
__pycache__/
*.pyc