# CDC output
data/cdc/customer_master_updated/

# Spark outputs
*.crc
_SUCCESS

# Generated data layers
data/bronze/*
data/silver/*
data/gold/*
data/marts/*
data/dashboard_exports/*

# Keep directory structure
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/marts/.gitkeep
!data/dashboard_exports/.gitkeep

# CDC outputs
data/cdc/customer_master_updated/*

# Keep CDC sample files
!data/cdc/customer_changes.csv
!data/cdc/customer_master.csv

# SCD Outputs
data/scd/*_updated/

*.save

# Incremental Framework Outputs
data/watermark/pipeline_watermark/*
!data/watermark/pipeline_watermark/.gitkeep

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# MacOS
.DS_Store

# Logs & Reports
logs/
quality_reports/